@import url(http://fonts.googleapis.com/css?family=Cinzel:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

body {position:absolute;top:0;left:0;margin:0;padding:0;width:100%;height:100%;background:#fff url(/bundles/spafrontend/images/body-bkg.gif);font-family:'Open Sans',Verdana,Arial,sans-serif;font-size:16px;color:#666;}
a,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,textarea {
	line-height:1.25em;
	margin:0;
	padding:0;
}
input,select,textarea {font-family:'Open Sans',Verdana,Arial,sans-serif;}
h1,h2,h3,h4,h5,h6,.nav {font-family:'Cinzel','Times New Roman',Georgia,serif;color:#7f3f98;}
a {color:#7c51a1;text-decoration:none;}
a:hover {color:rgba(124,81,161,.6);}


#container {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:transparent url(/bundles/spafrontend/images/container-bkg.png) repeat-x;
	text-align:center;
}
#cabecalho {
	position:relative;
	width:96%;
	max-width:1024px;
	min-width:740px;
	height:159px;
	margin:0 auto;
	padding:0;
	z-index:100;
}
#cabecalho h1 {
	position:absolute;
	top:0;
	left:0;
}
#cabecalho h1 a {
	display:block;
	height:118px;
	width:236px;
	background:url(/bundles/spafrontend/images/spadassobrancelhas-logotipo.png) 0 0 no-repeat;
}
#cabecalho h1 span {
	display:none;
}
#cabecalho ul.navSec {
	position:absolute;
	top:1.55em;
	right:0;
	font-size:.85em;
	list-style:none;
}
#cabecalho ul.navSec li {
	display:inline;
	color:#fff;
	padding:0 .5em;
	border-left:1px solid #96c;
}
#cabecalho ul.navSec li:first-child {
	border-left:0;
}
#cabecalho ul.navSec li.areaFranqueado a {
	background:url(/bundles/spafrontend/images/navsec-areafranqueado-icone.png) right top no-repeat;
	padding-right:24px;
}
#cabecalho ul.navSec li a {
	color:#fff;
}
#cabecalho ul.navSec li a:hover {
	color:#bf9fcb;
}
#cabecalho ul.navSec li a.navSigaItem {
	display:inline-block;
	width:20px;
	height:20px;
	margin:0 0 -5px 1px;
}
#cabecalho ul.navSec li a.navSigaItem span {
	display:none;
}
#cabecalho ul.navSec li a#navTwitter {
	background:url(/bundles/spafrontend/images/navsec-icones.png) 0 0 no-repeat;
	background-size:auto 100%;
}
#cabecalho ul.navSec li a#navTwitter:hover {
	background:url(/bundles/spafrontend/images/navsec-icones.png) 0 -1px no-repeat;
	background-size:auto 100%;
}
#cabecalho ul.navSec li a#navFacebook {
	background:url(/bundles/spafrontend/images/navsec-icones.png) -20px 0 no-repeat;
	background-size:auto 100%;
}
#cabecalho ul.navSec li a#navFacebook:hover {
	background:url(/bundles/spafrontend/images/navsec-icones.png) -20px -1px no-repeat;
	background-size:auto 100%;
}
#cabecalho ul.navSec li a#navYoutube {
	background:url(/bundles/spafrontend/images/navsec-icones.png) -40px 0 no-repeat;
	background-size:auto 100%;
}
#cabecalho ul.navSec li a#navYoutube:hover {
	background:url(/bundles/spafrontend/images/navsec-icones.png) -40px -1px no-repeat;
	background-size:auto 100%;
}
#cabecalho ul.nav {
	position:absolute;
	bottom:.2em;
	right:0;
	font-weight:400;
	font-size:1em;
	z-index:100;
}
#cabecalho ul.nav li {
	position:relative;
	display:inline-block;
	color:#fff;
	padding:0 .5em;
	border-left:1px solid #96c;
}
#cabecalho ul.nav li:first-child {
	border-left:0;
}
#cabecalho ul.nav li a {
	color:#fff;
	padding-bottom:.15em;
}
#cabecalho ul.nav li:hover a {
	border-top:3px solid #fff;
}
#cabecalho ul.nav li ul {
	position:absolute;
	text-align:left;
	top:1.7em;
	left:0;
	display:none;
	background:rgba(167,138,194,.85);
	font-family:'Open Sans',Verdana,Arial,sans-serif;
	font-size:.85em;
	font-weight:400;
	white-space:nowrap;
}
#cabecalho ul.nav li:hover ul {
	display:block;
	padding:.15em .5em;
}
#cabecalho ul.nav li ul li {
	display:block;
	border:none;
	border-top:1px solid #7c51a1;
	padding:.3em 0;
}
#cabecalho ul.nav li ul li:first-child {
	border:none;
}
#cabecalho ul.nav li:hover ul li a {
	display:block;
	border:none;
	width:100%;
}
#cabecalho ul.nav li:hover ul li a:hover {
	color:#dacde5;
}
#conteudo {
	position:relative;
	width:96%;
	max-width:1024px;
	min-width:740px;
	margin:75px auto 0 auto;
	padding-bottom:20px;
	background:#fff;
	text-align:left;
}
.home #conteudo {
	border-top:3px solid #fff;
	margin-top:0;
}
#conteudo h2 {
	position:relative;
	display:inline-block;
	padding:0 .4em;
	margin:2em 0 .5em 0;
	color:#FFF;
	font-weight:400;
	font-size:1.75em;
	background:#7f3f98 url(/bundles/spafrontend/images/banner-titulo-bkg.png) .5em bottom no-repeat;
	z-index:2;
}
#conteudo h2 a {
	color:#fff;
}
.institucional #conteudo h2 {
	margin-top:-1.25em;
}
.promocoes #conteudo h2,
.produtos #conteudo h2,
.servicos #conteudo h2 {
	margin-bottom:0;
}
#conteudo h3.box {
	position:relative;
	width:35%;
	color:#fff;
	font-size:1.85em;
	font-weight:400;
	text-align:center;
	padding:1% 4% 1% 2%;
	background:#7f3f98 url(/bundles/spafrontend/images/titulo-box-bkg.gif) right center no-repeat;
	float:left;
}
.sejafranqueado #conteudo h4 {
	font-size:1.15em;
	font-weight:400;
	margin:2em 0 .5em 0;
}
#conteudo p,
#conteudo ul {
	line-height:1.5em;
	margin-bottom:.85em;
	text-align:left;
}
#conteudo p.video-institucional-thumb {
	position:relative;
	width:57%;
	float:right;
}
#conteudo ul {
	padding-left:1.25em;
}
#conteudo ul li {
	line-height:1.5em;
}
#conteudo p.video-institucional-thumb img {
	width:100%;
}
#conteudo .destaque {
	font-weight:600;
	color:#7f3f98;
}
#conteudo .margem {
	position:relative;
	width:96%;
	margin:0 2%;
}
.home #conteudo .margem {
	width:100%;
	margin:0;
}
#conteudo .sliderContainer {
	position:relative;
	width:100%;
	display:block;
}
#conteudo .sliderContainer .sliderSombra {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:10px;
	z-index:10;
	background:url(/bundles/spafrontend/images/home-slider-sombra.png) repeat-x;
}
#conteudo .sliderContainer #slider {
	position:relative;
	width:100%;
	list-style:none;
	margin:0;
	padding:0;
}
#conteudo .sliderContainer #slider li img {
	width:100%;
}
#conteudo .sliderContainer a.rslides_nav {
	position:absolute;
	display:block;
	top:50%;
	margin-top:-37px;
	width:27px;
	height:73px;
	z-index:50;
}
#conteudo .sliderContainer a.rslides_nav span {
	display:none;
}
#conteudo .sliderContainer a.rslides_nav.prev {
	background:url(/bundles/spafrontend/images/home-slider-anterior.png) 5px 0 no-repeat;
	left:7px;
}
#conteudo .sliderContainer a.rslides_nav.prev:hover {
	background-position:0 0;
}
#conteudo .sliderContainer a.rslides_nav.next {
	background:url(/bundles/spafrontend/images/home-slider-proximo.png) 5px 0 no-repeat;
	right:7px;
}
#conteudo .sliderContainer a.rslides_nav.next:hover {
	background-position:10px 0;
}


.institucional #conteudo .slider {
	border-bottom:1px solid #666;
}
.faleconosco #conteudo .slider {
	border:0;
	margin-bottom:1.5em;
}
#conteudo .slider img {
	width:100%;
}
#conteudo .slider ul.sliderNav {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding:0;
	list-style:none;
	background:url(/bundles/spafrontend/images/home-slider-sombra.png) repeat-x;
}
#conteudo .slider ul.sliderNav li {
	position:absolute;
	top:50%;
	margin-top:-37px;
	width:27px;
	height:73px;
}
#conteudo .slider ul.sliderNav li.sliderAnterior {
	background:url(/bundles/spafrontend/images/home-slider-anterior.png) 5px 0 no-repeat;
	left:7px;
}
#conteudo .slider ul.sliderNav li.sliderAnterior:hover {
	background-position:0 0;
}
#conteudo .slider ul.sliderNav li.sliderProximo {
	background:url(/bundles/spafrontend/images/home-slider-proximo.png) 5px 0 no-repeat;
	right:7px;
}
#conteudo .slider ul.sliderNav li.sliderProximo:hover {
	background-position:10px 0;
}
#conteudo .slider ul.sliderNav li.sliderLink {
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin-top:0;
}
#conteudo .slider ul.sliderNav li a {
	display:block;
	width:100%;
	height:100%;
}
/*
#conteudo .slider ul.sliderNav li.sliderLink a:hover {
	background-color:rgba(255,255,255,.35);
}
*/
#conteudo .slider ul.sliderNav li a span {
	display:none;
}
#conteudo .home {
	position:relative;
	margin-top:20px;
}
#conteudo .home.col1 {
	width:71%;
	float:left;
}
#conteudo .home.col2 {
	width:26%;
	float:right;
	padding-top:1.65em;
}
#conteudo .bannerDestaque,
#conteudo .bannerFranquiaHome,
#conteudo .bannerInterno {
	position:relative;
	width:100%;
}
#conteudo .bannerInterno {
	margin-bottom:1em;
}
#conteudo .bannerDestaque img,
#conteudo .bannerFranquiaHome img,
#conteudo .bannerInterno img {
	position:relative;
	width:100%;
}
#conteudo .bannerDestaque h4 {
	position:absolute;
	display:inline-block;
	bottom:0;
	left:0;
	padding:2px 10px 1px 10px;
	font-size:1.25em;
	font-weight:400;
	color:#fff;
	background:#7f3f98 url(/bundles/spafrontend/images/banner-titulo-bkg.png) 1px bottom no-repeat;
}
#conteudo .bannerDestaque p {
	position:absolute;
	display:inline-block;
	bottom:50px;
	left:0;
	width:30%;
	min-width:200px;
	padding:6px 10px;
	font-size:.85em;
	font-weight:400;
	color:#fff;
	background:rgba(127,63,152,.7);
}
#conteudo .bannerFranquiaHome h4,
#conteudo .bannerInterno h4 {
	position:absolute;
	top:0;
	left:0;
	padding:.65em 1em 2em 1em;
	font-size:1em;
	font-weight:400;
	color:#fff;
	background:url(/bundles/spafrontend/images/home-banner-franqueado-titulo-bkg.png) left bottom no-repeat;
}
#conteudo .colBanners .bannerInterno h4 {
	padding:6px 15px 15px 15px;
	font-size:.85em;
	text-align:center;
	background:url(/bundles/spafrontend/images/banner-interno-titulo-bkg.png) left bottom no-repeat;
}
#conteudo .bannerFranquiaHome h4 span {
	display:block;
	position:absolute;
	bottom:15px;
	right:0;
	padding:0 10px 0 6px;
	margin:0;
	font-family:'Open Sans',Verdana,Arial,sans-serif;
	font-size:.85em;
	font-weight:400;
	background:#7f3f98;
}
#conteudo .bannerDestaque a,
#conteudo .bannerFranquiaHome a,
#conteudo .bannerInterno a {
	display:block;
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:100%;
}
#conteudo .bannerDestaque a span,
#conteudo .bannerFranquiaHome a span,
#conteudo .bannerInterno a span {
	display:none;
}
/*
#conteudo .bannerDestaque a:hover,
#conteudo .bannerFranquiaHome a:hover,
#conteudo .bannerInterno a:hover {
	background-color:rgba(255,255,255,.35);
}
*/
#conteudo #homeRedesSociais,
#conteudo .homeVideoDestaque,
#conteudo .localizeUnidade {
	position:relative;
	margin-top:20px;
	width:100%;
}
#conteudo .localizeUnidade {
	margin:0 0 20px 0;
}
#conteudo .destaques h4,
#conteudo #homeRedesSociais h4,
#conteudo .homeVideoDestaque h4,
#conteudo .localizeUnidade h4 {
	position:relative;
	display:inline-block;
	padding:2px 10px 1px 10px;
	margin-bottom:-1px;
	font-size:1.25em;
	font-weight:400;
	color:#fff;
	background:#7f3f98 url(/bundles/spafrontend/images/banner-titulo-bkg.png) 1px bottom no-repeat;
	z-index:2;
}
#conteudo .homeVideoDestaque h4,
#conteudo .localizeUnidade h4 {
	font-size:1em;
}
#conteudo .boxesContainer {
	position:relative;
	border:1px solid #ccc;
	background:url(/bundles/spafrontend/images/separador-bkg.gif) 55% 0 repeat-y;
}
#conteudo #homeRedesSociais .boxesContainer #fbBox {
	position:relative;
	width:55%;
	float:left;
}
#conteudo #homeRedesSociais .boxesContainer #fbBox h5 {
	font-family:'Open Sans',Verdana,Arial,sans-serif;
	font-size:.85em;
	color:#7c51a1;
	padding:15px 10px 15px 10px;
	border-bottom:1px solid #ccc;
}
#conteudo #homeRedesSociais .boxesContainer #fbBox h5 span {
	font-weight:400;
}
#conteudo #homeRedesSociais .boxesContainer #fbBox h5 span.franqueadorCurtir {
	display:block;
	float:right;
	width:54px;
	text-align:right;
}
#conteudo #homeRedesSociais .boxesContainer #fbBox h5 span.franqueadorCurtir span {
	display:block;
}
#conteudo #homeRedesSociais .boxesContainer #fbBox h5 img {
	float:left;
	margin-right:10px;
}
#conteudo #homeRedesSociais .boxesContainer #fbBox h6 {
	font-family:'Open Sans',Verdana,Arial,sans-serif;
	font-size:1em;
	color:#af97c5;
	padding:3px 10px 5px 10px;
	border-bottom:1px solid #ccc;
}
#conteudo #homeRedesSociais .boxesContainer #fbBox ul {
	list-style:none;
	padding:10px;
}
#conteudo #homeRedesSociais .boxesContainer #fbBox ul li {
	clear:both;
	line-height:1.85em;
	font-size:.85em;
	white-space:nowrap;
}
#conteudo #homeRedesSociais .boxesContainer #fbBox ul li.franqueadoPrimeiro {
	font-weight:700;
	font-size:1em;
}
#conteudo #homeRedesSociais .boxesContainer #fbBox ul li span.franqueadoCurtir {
	display:block;
	float:right;
	font-size:.85em;
}
#conteudo #homeRedesSociais .boxesContainer #fbBox ul li img {
	vertical-align:middle;
	padding-bottom:3px;
}
#conteudo #homeRedesSociais .boxesContainer #twitterBox {
	position:relative;
	float:right;
	width:45%;
}

/*   SEM FACEBOOK -- INICIO   */

#conteudo .boxesContainer {
	background-image:none;
}
#conteudo #homeRedesSociais .boxesContainer #twitterBox {
	position:relative;
	float:right;
	width:100%;
}

/*   SEM FACEBOOK -- FIM   */

#conteudo #homeRedesSociais .boxesContainer #twitterBox h5 {
	font-family:'Open Sans',Verdana,Arial,sans-serif;
	background:url(/bundles/spafrontend/images/home-redes_sociais-twitter-icone.gif) 5px 0 no-repeat;
	margin:0 0 0 10px;
	padding:0 0 0 45px;
	color:#7c51a1;
	font-size:.85em;
	border-bottom:1px solid #ccc;
	height:35px;
}
#conteudo #homeRedesSociais .boxesContainer #twitterBox h5 span {
	display:block;
	padding:5px 5px 7px 5px;
	margin:5px 0 0 0;
	border-left:1px solid #ccc;
}
#conteudo #homeRedesSociais .boxesContainer #twitterBox iframe {
	width:95%;
	margin:10px 10px 0 10px;
}
#conteudo #homeRedesSociais .boxesContainer #twitterBox .tweetBox {
	margin:10px 10px 0 15px;
	font-size:.8em;
}
#conteudo #homeRedesSociais .boxesContainer #twitterBox .tweetBox a {
	color:#c3c;
}
#conteudo #homeRedesSociais .boxesContainer #twitterBox .tweetBox a:hover {
	text-decoration:underline;
}
#conteudo #homeRedesSociais .boxesContainer #twitterBox .tweetBox a.twitterUser {
	font-weight:700;
}
#conteudo #homeRedesSociais .boxesContainer #twitterBox .tweetBox .tweetAcoes {
	color:#c3c;
	font-size:.85em;
	margin-top:.2em;
}
#conteudo #homeRedesSociais .boxesContainer #twitterBox .tweetBox .tweetAcoes a {
	color:#c3c;
}
#conteudo .localizeUnidade .boxesContainer {
	border:none;
	padding:.75em;
	background:#e5e5e5;
}
#conteudo .localizeUnidade .boxesContainer select {
	width:100%;
	border:0;
	color:#999;
}
#conteudo .homeVideoDestaque .boxesContainer {
	padding:5px 10px;
	background-image:none;
	font-size:.75em;
	text-align:right;
}
#conteudo .homeVideoDestaque .boxesContainer a {
	display:block;
	margin:.4em 0 .35em 0;
}
#conteudo .homeVideoDestaque .boxesContainer a:hover {
	text-decoration:underline;
}
#conteudo .homeVideoDestaque .boxesContainer a span {
	font-size:.95em;
}
#conteudo .homeVideoDestaque .boxesContainer a.linkVideo {
	margin:0;
}
#conteudo .homeVideoDestaque .boxesContainer img {
	width:100%;
}
#conteudo hr {
	border:none;
	border-top:1px solid #666;
	margin-bottom:.85em;
}
#conteudo hr.video {
	margin-bottom:3em;
}
#conteudo hr.titulo {
	position:absolute;
	width:100%;
	top:5.15em;
}
#conteudo hr.fim,
.unidades hr.fim {
	clear:both;
	border:none;
	margin-bottom:0;
}
.sejafranqueado #conteudo .c02 {
	padding-top:1.5em;
}#conteudo .colConteudo {
	position:relative;
	width:71%;
	float:left;
}
.produtos #conteudo .colConteudo,
.servicos #conteudo .colConteudo {
	width:100%;
}
.sejafranqueado #conteudo .colConteudo {
	width:65%;
}
#conteudo .colBanners {
	position:relative;
	width:26%;
	float:right;
}
.promocoes #conteudo .colBanners {
	margin-top:1em;
}
#rodape {
	position:relative;
	width:100%;
	background:#7f3f98;
	border-top:10px solid #bf9fcb;
	padding-bottom:3em;
}
#rodape #rodapeNav {
	position:relative;
	width:96%;
	max-width:1024px;
	min-width:740px;
	margin:auto;
	color:#fff;
	background:url(/bundles/spafrontend/images/rodape-separador.png) repeat-y;
	background-size:100% auto;
}
#rodape #rodapeNav h1 {
	position:relative;
	display:inline-block;
	width:20%;
	height:100%;
}
#rodape #rodapeNav h1 img {
	position:absolute;
	width:92.5%;
	left:0;
	bottom:1em;
}
#rodape #rodapeNav ul {
	position:relative;
	display:inline-block;
	list-style:none;
	text-align:left;
}
#rodape #rodapeNav ul a {
	color:#fff;
}
#rodape #rodapeNav ul a:hover {
	color:#bf9fcb;
}
#rodape #rodapeNav ul.nav ul {
	display:none;
}
#rodape #rodapeNav ul.nav {
	width:20%;
	padding:.5em 1.5% 0 1.5%;
}
#rodape #rodapeNav ul li {
	line-height:1em;
	margin-bottom:.25em;
}
#rodape #rodapeNav ul.navSec {
	font-family:'Cinzel','Times New Roman',Georgia,serif;
	width:20%;
	padding:0 1.5%;
}
#rodape #rodapeNav ul.navSec li a.navSigaItem {
	display:inline-block;
	width:28px;
	height:28px;
	margin:.3em 2px -5px 0;
}
#rodape #rodapeNav ul.navSec li span.sigaIcones {
	display:block;
}
#rodape #rodapeNav ul.navSec li a.navSigaItem span {
	display:none;
}
#rodape #rodapeNav ul.navSec li a#navTwitter {
	background:url(/bundles/spafrontend/images/navsec-icones.png) 0 0 no-repeat;
	background-size:auto 100%;
}
#rodape #rodapeNav ul.navSec li a#navTwitter:hover {
	background:url(/bundles/spafrontend/images/navsec-icones.png) 0 -1px no-repeat;
	background-size:auto 100%;
}
#rodape #rodapeNav ul.navSec li a#navFacebook {
	background:url(/bundles/spafrontend/images/navsec-icones.png) -28px 0 no-repeat;
	background-size:auto 100%;
}
#rodape #rodapeNav ul.navSec li a#navFacebook:hover {
	background:url(/bundles/spafrontend/images/navsec-icones.png) -28px -1px no-repeat;
	background-size:auto 100%;
}
#rodape #rodapeNav ul.navSec li a#navYoutube {
	background:url(/bundles/spafrontend/images/navsec-icones.png) -56px 0 no-repeat;
	background-size:auto 100%;
}
#rodape #rodapeNav ul.navSec li a#navYoutube:hover {
	background:url(/bundles/spafrontend/images/navsec-icones.png) -56px -1px no-repeat;
	background-size:auto 100%;
}
#rodape #rodapeNav ul.navSec .areaFranqueado {
	display:none;
}
#rodape #rodapeNav ul.logos {
	width:32%;
	text-align:right;
}
#rodape #rodapeNav ul.logos li {
	display:inline-block;
	margin-left:5.5%;
}
#rodape #rodapeNav ul.logos li#abfLogo {
	width:57.5%;
}
#rodape #rodapeNav ul.logos li#abfSelo {
	width:27%;
}
#rodape #rodapeNav ul.logos li#abfLogo img,
#rodape #rodapeNav ul.logos li#abfSelo img {
	width:100%;
}

.produtoBox,
.servicoBox {
	position:relative;
	border:1px solid #999;
	background:#bf9fcb;
	color:#333;
	margin-top:1.5em;
}
.servicoBox {
	border:0;
	background:#dcdcdc;
}
.produtoBox .produtoFoto,
.servicoBox .servicoFoto {
	position:relative;
	width:52%;
	height:315px;
	float:left;
	background-repeat:no-repeat;
	background-position:top center;
}
.servicoBox .servicoFoto {
	width:53%;
	height:495px;
}
.produtoBox .produtoDescricao,
.servicoBox .servicoDescricao {
	position:relative;
	width:48%;
	float:right;
}
.servicoBox .servicoDescricao {
	position:relative;
	width:47%;
	float:right;
}
.produtoBox .produtoDescricao h3,
.servicoBox .servicoDescricao h3 {
	display:inline-block;
	color:#fff;
	font-size:1.75em;
	font-weight:400;
	background:#7f3f98 url(/bundles/spafrontend/images/subtitulo-bkg.png) left center no-repeat;
	padding:.1em .3em 0 .5em;
	margin-top:2em;
}
.servicoBox .servicoDescricao h3 {
	margin-top:0;
}
.produtoBox .produtoDescricao p,
.servicoBox .servicoDescricao p {
	margin:1em;
}
.produtoBox a,
.servicoBox a {
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:100%;
}
.produtoBox a:hover,
.servicoBox a:hover {
	background:rgba(255,255,255,.35);
}

.unidadesForm {
	position:relative;
	width:32%;
	background:#b19bc9;
}
.unidadesForm h3 {
	color:#fff;
	font-weight:400;
	line-height:1.05em;
	padding:.45em .6em;
	background:#7f3f98 url(/bundles/spafrontend/images/unidades_form-titulo-bkg.png) .5em bottom no-repeat;
}
.unidadesForm form {
	position:relative;
	padding:.8em;
	margin:0;
	text-align:right;
}
.unidadesForm form select {
	margin:0 0 1em 0;
	width:100%;
	border:0;
	font-family:'Open Sans',Verdana,Arial,sans-serif;
	font-size:.85em;
	color:#333;
	cursor:pointer;
}
.unidadesForm form input {
	padding:.15em .65em .3em .65em;
	border:0;
	font-family:'Open Sans',Verdana,Arial,sans-serif;
	font-size:.85em;
	color:#333;
	background:#fff;
	cursor:pointer;
}
.unidadesForm {position:relative;float:left;}
.unidadesMapa {position:relative;width:68%;text-align:center;float:right;margin-top:-1.5em;}
.unidadesResultado h4 {
	font-size:1.15em;
	font-weight:400;
	color:#7f3f98;
	border-bottom:1px solid #999;
	margin-bottom:1em;
}
.unidadesResultado h5 {
	font-family:'Open Sans',Verdana,Arial,sans-serif;
	font-weight:400;
	font-size:1em;
	color:#fff;
	background:#7f3f98;
	padding:.15em .5em;
	margin-top:.25em;
}
.unidadesResultado h5 a {
	display:block;
	width:100%;
	padding-bottom:0.15em;
	color:#fff;
}
.unidadesResultado .lista {
	background:#e6e6e6;
	padding:.6em 2em;
	font-size:.85em;
	border-bottom:1px solid #7f3f98;
}
.unidadesResultado .lista dl {
	margin-bottom:.6em;
}
.unidadesResultado .lista dl dt {
	margin-top:.6em;
	font-weight:600;
	color:#7f3f98;
}
.unidadesResultado .lista dl dd {
	font-size:.95em;
	padding-left:1.35em;
	margin-left:.8em;
}
.unidadesResultado .lista dl dd.endereco {
	background:url(/bundles/spafrontend/images/unidades-icones.png) .15em 3px no-repeat;
}
.unidadesResultado .lista dl dd.fones {
	background:url(/bundles/spafrontend/images/unidades-icones.png) .15em -17px no-repeat;
}
.unidadesResultado .lista dl dd.email {
	background:url(/bundles/spafrontend/images/unidades-icones.png) .15em -37px no-repeat;
}



.box-dados-franquia {
	margin:1.25em 0;
	border:2px solid #ba9dca;
	border-radius:15px;
	-moz-border-radius:15px;
	background:#ebe4f1;
	padding:0 1em;
	text-transform:uppercase;
	color:#70298c;
	font-weight:bold;
}
.box-dados-franquia p {
	width:49%;
	padding:.5em 0 .75em 1%;
	margin:0 !important;
	float:left;
	border-bottom:2px solid #ba9dca;
	font-size:1.25em;
	line-height:1em !important;
}
.box-dados-franquia p.final {
	border:0;
}
.box-dados-franquia p span {
	font-weight:normal;
	font-size:.75em;
}

.colForm {
	position:relative;
	width:26%;
	float:right;
	border-radius:1em;
	background-color:#e6e7e8;
	padding:.85em 1em;
	border-top:3.75em solid #7f3f98;
}
.colForm h3 {
	text-align:center;
	font-size:1em;
	font-weight:normal;
	color:#fff;
	margin-top:-3.5em;
	margin-bottom:2.5em;
}
.colForm label {
	display:block;
	margin:1.25em 0 .25em 0;
}
.colForm label.error {
	margin:0;
	color:#f00;
}
.colForm input {
	padding:2%;
	width:94%;
}
.colForm input#telefone_fixo_ddd,
.colForm input#celular_1_ddd,
.colForm input#celular_2_ddd {
	width:15%;
	margin-right:1%;
}
.colForm input#telefone_fixo,
.colForm input#celular_1,
.colForm input#celular_2 {
	width:72%;
}
.colForm select {
	height:2.4em;
	padding-left:2%;
	width:98%;
}
.colForm textarea {
	padding:2%;
	width:94%;
}
.colForm input#form_enviar {
	text-align:center;
	width:100%;
	margin-top:1.4em;
}
.colForm .formSucesso {
	color:#090;
}
.colForm .formErro {
	color:#f00;
}

.submenu-interno {
	position:absolute;
	display:block;
	background:#ccc;
	top:-1px;
	list-style:none;
	padding:.85em 0 !important;
	margin:0;
}
.promocoes .submenu-interno {
	width:12.15em;
}
.produtos .submenu-interno {
	width:15em;
}
.servicos .submenu-interno {
	width:22.5em;
}
.submenu-interno li {
	position:relative;
	padding:.15em .75em .3em .75em;
}
.submenu-interno li.foco {
	background:#b19bc9;
}
.submenu-interno li.foco span {
	position:absolute;
	display:block;
	background:#000;
	height:2em;
	width:1em;
	top:0;
	right:-1.1em;
	background:url(/bundles/spafrontend/images/submenu-interno-foco-bkg.png) center right no-repeat;
	border-left:1px solid #fff;
}
.submenu-interno li a {
	display:block;
	width:100%;
	padding:.15em 0;
}
.submenu-interno li.foco a {
	color:#fff;
}
.colDescricao {
	border-left:1px solid #666;
	padding:1.15em 2em;
}
.colDescricao h3 {
	color:#a681ba;
	font-weight:400;
	font-size:1.5em;
	margin-bottom:.85em;
}
.promocoes .colDescricao {
	margin-left:12.15em;
}
.produtos .colDescricao {
	margin-left:15em;
	min-height:21.35em;
}
.servicos .colDescricao {
	margin-left:22.5em;
	min-height:21.35em;
}
.promocoes h2 {
	width:6.15em;
}
.imgCenter {
	text-align:center !important;
}
.imgCenter img {
	max-width:100%;
}
.rodapeAcoes {
	border-top:1px solid #666;
}

.destaques {
	position:relative;
	display:block;
	width:100%;
}
.destaques .destaquesLinha {
	margin:0 !important;
	border-color:#ccc !important;
}
.destaques .destaquesBanners {
	margin-top:2.1%;
}
.destaques .destaqueDireita,
.destaques .destaqueEsquerda {
	position:relative;
	width:48.5%;
	border:1px solid #ccc;
}
.destaques .destaqueDireita {
	float:right;
	border:none;
}
.destaques .destaqueEsquerda {
	float:left;
}
.destaques .destaqueEsquerda h5 {
	position:absolute;
	bottom:15%;
	background-color:rgba(127,63,152,.7);
	width:65%;
	padding:1em;
	color:#fff;
	font-family:'Open Sans',Verdana,Arial,sans-serif;
	font-weight:400;
	line-height:1.35em;
}
.destaques .destaqueEsquerda img {width:100%;}
.destaques .destaqueEsquerda a {
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:100%;
}
.destaques .destaqueEsquerda a span {
	display:none;
}

.noticia-lista {
	list-style:none;
	border-top:1px solid #666;
	margin-top:1em;
	padding:0 !important;
}
.noticia-lista li {
	padding:.5em 0 !important;
	margin:0 !important;
	display:table;
	border-bottom:1px solid #666;
	width:100%;
}
.noticia-lista li a {
	color:#999;
}
.noticia-lista li a:hover {
	color:#333;
}
.noticia-lista li span {
	display:table-cell;
	padding:0 .5em;
}
.noticia-lista li span.noticia-data {
	font-weight:600;
}
.noticia-lista li span.noticia-titulo {
	border-left:1px solid #666;
}
.noticiaConteudo {
	margin-bottom:2em;
}
.noticiaConteudo .noticiaCabecalho {
	border-bottom:1px solid #666;
	padding-bottom:.25em;
	margin-top:-.5em;
	margin-bottom:1em;
	font-weight:600;
}
.noticiaConteudo .noticiaCabecalho .noticiaCabData {
	display:inline-block;
	padding:.55em 1.5em .65em 0;
	border-right:1px solid #666;
}
.noticiaConteudo .noticiaCabecalho .noticiaShare {
	padding:0 0 0 1.5em;
	font-weight:400;
}
.noticiaConteudo .noticiaCabecalho .noticiaShare a {
	display:inline-block;
	height:32px;
	width:32px;
}
.noticiaConteudo .noticiaCabecalho .noticiaShare a span {
	display:none;
}
.noticiaConteudo .noticiaCabecalho .noticiaShare .shareTwitter {
	background:url(/bundles/spafrontend/images/share-icones.png) 0 0 no-repeat;
	margin-bottom:-.65em;
}
.noticiaConteudo .noticiaCabecalho .noticiaShare .shareFacebook {
	background:url(/bundles/spafrontend/images/share-icones.png) -32px 0 no-repeat;
	margin:0 1em -.65em .5em;
}
.noticiaConteudo h3 {
	color:#7f3f98;
	font-weight:400;
	font-size:1.35em;
	margin-bottom:1em;
}
.noticiaConteudo h4 {
	font-family:'Open Sans',Verdana,Arial,sans-serif;
	font-weight:600;
}

.leiatb {
	border-top:1px solid #666;
	margin-top:2em;
}
.leiatb h6 {
	font-size:1.2em;
	font-weight:700;
	line-height:2em;
	margin-bottom:.25em;
	padding-left:.5%;
}
.leiatb ul, .destaqueDireita ul {
	padding:0 !important;
	margin:0 !important;
	list-style:none;
}
.leiatb ul {
	background:url(/bundles/spafrontend/images/separador-bkg.gif) 50% 0 repeat-y;
}
.leiatb li {
	position:relative;
	display:inline-block;
	width:47%;
	margin:0 .5%;
}
.destaqueDireita li {
	position:relative;
	display:block;
	padding-top:4.5%;
}
.destaqueDireita li:first-child {
	padding:0 0 4.5% 0;
}
.leiatb li a, .destaqueDireita li a {
	display:block;
}
.leiatb li:last-child {
	float:right;
}
.destaqueDireita li:first-child {
	border-bottom:1px solid #ccc;
}
.leiatb li img, .destaqueDireita li img {
	display:block;
	width:39%;
	float:left;
	border:1px solid #ccc;
	border-top:none;
	border-bottom:none;
}
.destaqueDireita li img {
	width:45%;
}
.leiatb li .texto, .destaqueDireita li .texto {
	display:block;
	float:right;
	width:58%;
	margin-left:2%;
	font-size:.85em;
	line-height:1.25em;
}
.destaqueDireita li .texto {
	width:52%;
}
.leiatb li .texto .titulo, .destaqueDireita li .texto .titulo {
	display:block;
	font-family:'Cinzel','Times New Roman',Georgia,serif;
	font-weight:700;
	color:#7f3f98;
}
.leiatb li .texto .descricao, .destaqueDireita li .texto .descricao {
	display:block;
	color:#999;
}
.homeCols {
	background:url(/bundles/spafrontend/images/separador-home-bkg.gif) 72.5% 0 no-repeat;
}
.c02.banner {
	background:url(/bundles/spafrontend/images/separador-bkg.gif) 72.5% 0 repeat-y;
	margin:1.5em 0;
}
.rodapeAcoes {
	width:100%;
	font-size:.75em;
	padding-top:.45em;
}
.rodapeAcoes .share a {
	display:inline-block;
	height:20px;
	width:20px;
	background:#f60;
	margin-bottom:-.4em;
}
.rodapeAcoes .share a span {
	display:none;
}
.rodapeAcoes .share a.shareTwitter {
	background:url(/bundles/spafrontend/images/share-icones-small.png) 0 0 no-repeat;
	margin-right:.35em;
}
.rodapeAcoes .share a.shareFacebook {
	background:url(/bundles/spafrontend/images/share-icones-small.png) -20px 0 no-repeat;
	margin-right:.35em;
}
.rodapeAcoes .share .shareLabel {
	padding:.35em;
	border-left:1px solid #666;
}
.rodapeAcoes .imprimir {
	float:right;
}
.rodapeAcoes .imprimir a {
	background:url(/bundles/spafrontend/images/print-icone.png) 0 0 no-repeat;
	padding-left:1.85em;
}

#formFaleconosco {
	padding-top:1.5em;
	width:70%;
}
#formFaleconosco p {
	display:inline-block;
	margin-right:1%;
}
#formFaleconosco p label {
	display:block;
	font-size:.95em;
}
#formFaleconosco input,
#formFaleconosco select,
#formFaleconosco textarea {
	border:0;
	background:#e5e5e5;
	width:100%;
	height:2em;
}
#formFaleconosco textarea {height:auto;}
#formFaleconosco input#anexo {background:#fff;color:#999;}
#formFaleconosco p.p33 {width:32%;}
#formFaleconosco p.p50 {width:49%;}
#formFaleconosco p.p66 {width:66%;}
#formFaleconosco p.p100 {width:99%;}
#formFaleconosco .right {text-align:right;}
#formFaleconosco .legenda {font-size:.85em;}
#formFaleconosco #enviar {
	background:#fff;
	width:auto !important;
	font-family:'Cinzel','Times New Roman',Georgia,serif;
	color:#7f3f98;
	font-size:1.15em;
	cursor:pointer;
}
#formFaleconosco #enviar:hover {
	text-decoration:underline;
}
#formFaleconosco .enviar {
	margin-top:-1em;
}

#anexo::-webkit-file-upload-button {
  visibility: hidden;
}
#anexo:before {
  content: 'Anexar arquivo';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 3px 6px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 400;
  font-size: 1em;
  color:#666;
}
#anexo:hover:before {
  border-color: black;
}
#anexo:active:before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}





@media (max-width: 950px) {
#conteudo #homeRedesSociais .boxesContainer #fbBox ul li {
	font-size:.75em;
}
#conteudo #homeRedesSociais .boxesContainer #fbBox ul li.franqueadoPrimeiro {
	font-size:.85em;
}
}

@media (max-width: 850px) {
#cabecalho ul.nav {
	font-size:.85em;
}
}

@media screen and (min-width: 1085px){
/* size: 500 */
.m340{width:500px} .m340 .brazil,.m340 .brazil .bg,.m340 .brazil-cities{background:transparent url('../../bundles/spafrontend/bundles/spafrontend/images/br-500.png') no-repeat -1010px 0} .m340 .brazil,.m340 .brazil-cities{height:520px;width:500px} .m340 .brazil{background-position:0 -810px} .m340 .brazil-cities{background-position:-510px -810px} .m340 .brazil .m{margin:10008px 0 0 10px} .m340 .brazil .m span{font-size:30px !important}
.m340 .br1.focus .bg,.m340 .br1.active-region .bg{height:47px;left:15px;top:156px;width:84px}.m340 .br1.focus .bg{background-position:-557px -5px}.m340 .br1.active-region .bg{background-position:-557px -405px} .m340 .br2.focus .bg,.m340 .br2.active-region .bg{height:20px;left:421px;top:175px;width:36px}.m340 .br2.focus .bg{background-position:-278px -31px}.m340 .br2.active-region .bg{background-position:-278px -431px} .m340 .br3.focus .bg,.m340 .br3.active-region .bg{height:65px;left:232px;top:24px;width:57px}.m340 .br3.focus .bg{background-position:-764px -28px}.m340 .br3.active-region .bg{background-position:-764px -428px} .m340 .br4.focus .bg,.m340 .br4.active-region .bg{height:138px;left:17px;top:49px;width:202px}.m340 .br4.focus .bg{background-position:-5px -206px}.m340 .br4.active-region .bg{background-position:-5px -606px} .m340 .br5.focus .bg,.m340 .br5.active-region .bg{height:114px;left:326px;top:172px;width:106px}.m340 .br5.focus .bg{background-position:-573px -230px}.m340 .br5.active-region .bg{background-position:-573px -630px} .m340 .br6.focus .bg,.m340 .br6.active-region .bg{height:58px;left:385px;top:106px;width:48px}.m340 .br6.focus .bg{background-position:-677px -17px}.m340 .br6.active-region .bg{background-position:-677px -417px} .m340 .br7.focus .bg,.m340 .br7.active-region .bg{height:75px;left:93px;top:253px;width:226px}.m340 .br7.focus .bg{background-position:-9px -1340px}.m340 .br7.active-region .bg{background-position:-274px -1340px} .m340 .br8.focus .bg,.m340 .br8.active-region .bg{height:41px;left:380px;top:282px;width:26px}.m340 .br8.focus .bg{background-position:-501px -34px}.m340 .br8.active-region .bg{background-position:-501px -434px} .m340 .br9.focus .bg,.m340 .br9.active-region .bg{height:84px;left:250px;top:217px;width:84px}.m340 .br9.focus .bg{background-position:-341px -87px}.m340 .br9.active-region .bg{background-position:-341px -487px} .m340 .br10.focus .bg,.m340 .br10.active-region .bg{height:106px;left:302px;top:87px;width:79px}.m340 .br10.focus .bg{background-position:-567px -82px}.m340 .br10.active-region .bg{background-position:-567px -482px} .m340 .br11.focus .bg,.m340 .br11.active-region .bg{height:125px;left:155px;top:159px;width:130px}.m340 .br11.focus .bg{background-position:-413px -219px}.m340 .br11.active-region .bg{background-position:-413px -619px} .m340 .br12.focus .bg,.m340 .br12.active-region .bg{height:84px;left:195px;top:273px;width:83px}.m340 .br12.focus .bg{background-position:-455px -105px}.m340 .br12.active-region .bg{background-position:-455px -505px} .m340 .br13.focus .bg,.m340 .br13.active-region .bg{height:105px;left:275px;top:238px;width:128px}.m340 .br13.focus .bg{background-position:-707px -239px}.m340 .br13.active-region .bg{background-position:-707px -639px} .m340 .br14.focus .bg,.m340 .br14.active-region .bg{height:143px;left:186px;top:45px;width:147px}.m340 .br14.focus .bg{background-position:-235px -201px}.m340 .br14.active-region .bg{background-position:-235px -601px} .m340 .br15.focus .bg,.m340 .br15.active-region .bg{height:27px;left:415px;top:143px;width:50px}.m340 .br15.focus .bg{background-position:-882px -166px}.m340 .br15.active-region .bg{background-position:-882px -566px} .m340 .br16.focus .bg,.m340 .br16.active-region .bg{height:52px;left:235px;top:338px;width:75px}.m340 .br16.focus .bg{background-position:-4px -17px}.m340 .br16.active-region .bg{background-position:-4px -417px} .m340 .br17.focus .bg,.m340 .br17.active-region .bg{height:26px;left:386px;top:158px;width:79px}.m340 .br17.focus .bg{background-position:-396px -32px}.m340 .br17.active-region .bg{background-position:-396px -432px} .m340 .br18.focus .bg,.m340 .br18.active-region .bg{height:92px;left:333px;top:107px;width:64px}.m340 .br18.focus .bg{background-position:-248px -84px}.m340 .br18.active-region .bg{background-position:-248px -484px} .m340 .br19.focus .bg,.m340 .br19.active-region .bg{height:33px;left:346px;top:316px;width:46px}.m340 .br19.focus .bg{background-position:-885px -94px}.m340 .br19.active-region .bg{background-position:-885px -494px} .m340 .br20.focus .bg,.m340 .br20.active-region .bg{height:25px;left:417px;top:130px;width:44px}.m340 .br20.focus .bg{background-position:-884px -222px}.m340 .br20.active-region .bg{background-position:-884px -622px} .m340 .br21.focus .bg,.m340 .br21.active-region .bg{height:88px;left:201px;top:395px;width:91px}.m340 .br21.focus .bg{background-position:-765px -122px}.m340 .br21.active-region .bg{background-position:-765px -522px} .m340 .br22.focus .bg,.m340 .br22.active-region .bg{height:67px;left:96px;top:166px;width:80px}.m340 .br22.focus .bg{background-position:-865px -277px}.m340 .br22.active-region .bg{background-position:-865px -677px} .m340 .br23.focus .bg,.m340 .br23.active-region .bg{height:78px;left:119px;top:15px;width:68px}.m340 .br23.focus .bg{background-position:-5px -99px}.m340 .br23.active-region .bg{background-position:-5px -499px} .m340 .br24.focus .bg,.m340 .br24.active-region .bg{height:44px;left:244px;top:381px;width:66px}.m340 .br24.focus .bg{background-position:-109px -37px}.m340 .br24.active-region .bg{background-position:-109px -437px} .m340 .br25.focus .bg,.m340 .br25.active-region .bg{height:68px;left:252px;top:304px;width:102px}.m340 .br25.focus .bg{background-position:-103px -109px}.m340 .br25.active-region .bg{background-position:-103px -509px} .m340 .br26.focus .bg,.m340 .br26.active-region .bg{height:24px;left:421px;top:183px;width:22px}.m340 .br26.focus .bg{background-position:-344px -31px}.m340 .br26.active-region .bg{background-position:-344px -431px} .m340 .br27.focus .bg,.m340 .br27.active-region .bg{height:96px;left:279px;top:134px;width:58px}.m340 .br27.focus .bg{background-position:-677px -105px}.m340 .br27.active-region .bg{background-position:-677px -505px}
.m340 .br1 a{left:67px;top:189px} .m340 .br1 a.tooltip-left .tooltip-arrow{left:67px} .m340 .br2 a{left:450px;top:195px} .m340 .br2 a.tooltip-right .tooltip-arrow{right:50px} .m340 .br3 a{left:275px;top:67px} .m340 .br4 a{left:128px;top:128px} .m340 .br4 a.tooltip-left .tooltip-arrow{left:128px} .m340 .br5 a{left:389px;top:230px} .m340 .br5 a.tooltip-right .tooltip-arrow{right:111px} .m340 .br6 a{left:417px;top:145px} .m340 .br6 a.tooltip-right .tooltip-arrow{right:83px} .m340 .br7 a{left:323px;top:266px} .m340 .br8 a{left:406px;top:312px} .m340 .br8 a.tooltip-right .tooltip-arrow{right:94px} .m340 .br9 a{left:302px;top:269px} .m340 .br10 a{left:349px;top:145px} .m340 .br10 a.tooltip-right .tooltip-arrow{right:151px} .m340 .br11 a{left:232px;top:234px} .m340 .br12 a{left:244px;top:325px} .m340 .br13 a{left:355px;top:300px} .m340 .br13 a.tooltip-right .tooltip-arrow{right:145px} .m340 .br14 a{left:269px;top:130px} .m340 .br15 a{left:450px;top:166px} .m340 .br15 a.tooltip-right .tooltip-arrow{right:50px} .m340 .br16 a{left:280px;top:374px} .m340 .br17 a{left:436px;top:180px} .m340 .br17 a.tooltip-right .tooltip-arrow{right:64px} .m340 .br18 a{left:376px;top:168px} .m340 .br18 a.tooltip-right .tooltip-arrow{right:124px} .m340 .br19 a{left:380px;top:346px} .m340 .br19 a.tooltip-right .tooltip-arrow{right:120px} .m340 .br20 a{left:450px;top:151px} .m340 .br20 a.tooltip-right .tooltip-arrow{right:50px} .m340 .br21 a{left:256px;top:440px} .m340 .br22 a{left:146px;top:209px} .m340 .br22 a.tooltip-left .tooltip-arrow{left:146px} .m340 .br23 a{left:171px;top:63px} .m340 .br23 a.tooltip-left .tooltip-arrow{left:171px} .m340 .br24 a{left:293px;top:407px} .m340 .br25 a{left:313px;top:348px} .m340 .br26 a{left:442px;top:205px} .m340 .br26 a.tooltip-right .tooltip-arrow{right:58px} .m340 .br27 a{left:317px;top:195px}
}