<script type="text/javascript">
  $(document).ready(function() {
	$(".fancybox").fancybox({
		openEffect	: 'none',
		closeEffect	: 'none'
	});
});
</script>


<div class="bannerInterno" style="height: 30px;">
	
</div>

<div class="bannerInterno">

	<img src="/app_dev.php/media/cache/banner_unity/uploads/banners/6adc1c43e74ab3491fceaa42a5d548f281e417e9.jpeg">
	<h4 style="z-index: 1;">Unidades elegantes e confortáveis</h4>
	{% for banner in bannersunity %}
		<a class="fancybox" rel="gallery1" href="/{{ banner.pic  }}">
			<img src="{{ banner.pic | apply_filter('banner_unity') }}" />
		</a>
	{% endfor %}

</div>  