
<div class="bannerFranquiaHome">
	<img src="{{ bannerdireita.pic |  apply_filter('banner_right')}}" />
	<h4>{{ bannerdireita.title }}<span>Saiba mais</span></h4>
	<a href="{{ bannerdireita.url }}"><span>Saiba mais</span></a>
</div>