{% extends 'SpaFrontendBundle::layout.html.twig' %}


{% block body_class %}faleconosco{% endblock %}
{% block body %}
<script type="text/javascript">
function validar(formFaleconosco){
    if(formFaleconosco.nome.value == ''){
        alert("Os campos marcados com * são obrigatórios.");
        return false;
    }
    if(formFaleconosco.sobrenome.value == ''){
        alert("Os campos marcados com * são obrigatórios.");
        return false;
    }
    if(formFaleconosco.email.value == ''){
        alert("Os campos marcados com * são obrigatórios.");
        return false;
    }
    if(formFaleconosco.email.value.indexOf(('@' && '.'),0)== -1){
        alert("EMAIL invalido.");
        return false;
    }
    if(formFaleconosco.assunto.value == ''){
        alert("Os campos marcados com * são obrigatórios.");
        return false;
    }
    if(formFaleconosco.mensagem.value == ''){
        alert("Os campos marcados com * são obrigatórios.");
        return false;
    }
}
</script>
<div class="slider">
	<img src="{{ asset('bundles/spafrontend/images/faleconosco-slider-01.jpg') }}" />
</div>
		{% if (obrigado) %}Mensagem enviada com sucesso! {% endif %}
		{{ pagecontent.content|raw }}
        {{ pagecontent.form|raw }}
			


{% endblock %}


