{% extends 'SpaFrontendBundle::layout.html.twig' %}


{% block body_class %}produtos{% endblock %}
{% block body %}
<script>
$(document).ready(function() {
    // Get the  current URL
    var pathname = window.location;
 
   // Create the twitter URL
    var tweeturl = 'http://twitter.com/share?url='+encodeURI(pathname)+'&text=Spa das Sobrancelhas';
 
    // Place the text on the page. Change body to wherever you want the button placed. 
    $('.share').prepend('<a class="shareTwitter" target="_blank" href=" '+ tweeturl+' "><span>twitter</span></a>');
});

</script>

		<h2>Produtos</h2>
		<hr class="titulo" />
		<div class="c02">
			<div class="colConteudo">
				<ul class="submenu-interno">
					{% for product in products %}
						<li id="{{ product.id }}">
							<a href="{{ path('spa_frontend_view_product', { slug: product.slug }) }}">
								{{ product.name }}
							</a>
							<span></span>
						</li>
					{% endfor %}
				</ul>
				<div class="colDescricao">
					<p>Além de produtos exclusivos para manter a beleza do seu olhar, desenvolvemos uma linha especial para o cuidado diário com sua pele. Com linhas específicas para cuidados faciais e corporais, nossos produtos são de fabricação exclusiva e vendidos somente nas Unidades Spa das Sobrancelhas.</p>
					<p class="destaque">Vá até a unidade Spa das Sobrancelhas mais próxima para adquirir estes produtos exclusivos.</p>
				</div>
			</div>
			<hr class="fim" />
		</div>




{% endblock %}


