{% extends 'SpaFrontendBundle::layout.html.twig' %}

{% block body_class %}produto{% endblock %}
{% block body %}
	<h2>Produtos</h2>
		<hr class="titulo" />
		<p>Se você quer se surpreender com produtos feitos especialmente para as mulheres que buscam o rejuvenescimento e beleza, se ligue na novidade. O Spa das Sobrancelhas desenvolveu uma linha de produtos exclusiva indicada para as mãos, pés, rosto e corpo. Ela foi preparada com toda segurança e qualidade que você merece e só é vendida em nossas unidades. O Spa das Sobrancelhas cuida do seu olhar e quer continuar cuidando de você com todo carinho, promovendo seu bem-estar.</p>
		<hr />
		<p class="destaque">Vá até a unidade Spa das Sobrancelhas mais próxima para adquirir estes produtos exclusivos.</p>
		<div class="produtoBox"><div class="produtoDescricao"><h3>Lápis</h3><p>Para conquistar uma pele radiante, a limpeza é o primeiro passo! E é fundamental. Livre de impurezas, ela respira melhor, fica sem acne e até sem rugas precoces. A higienização diária é um bom começo.</p></div><span class="produtoFoto" style="background-image:url(/_imgs/prod-lapis.jpg);"></span><hr class="fim" /><a href="/produtos/lapis/"></a></div>
		<div class="produtoBox"><div class="produtoDescricao"><h3>Sabonete Líquido Facial</h3><p>Para conquistar uma pele radiante, a limpeza é o primeiro passo! E é fundamental. Livre de impurezas, ela respira melhor, fica sem acne e até sem rugas precoces. A higienização diária é um bom começo.</p></div><span class="produtoFoto" style="background-image:url(/_imgs/prod-sabonete_liq_facial.jpg);"></span><hr class="fim" /><a href="/produtos/sabonete_liq_facial/"></a></div>

{% endblock %}
