{% extends 'SpaFrontendBundle::layout.html.twig' %}

{% block javascripts %}

    {% javascripts
    	'@SpaFrontendBundle/Resources/public/js/jquery-1.6.2.min.js'
    	'@SpaFrontendBundle/Resources/public/js/functions.js'
    	'@SpaFrontendBundle/Resources/public/js/validations.js'
    	'@SpaFrontendBundle/Resources/public/js/jquery.maskedinput-1.3.min.js'
    	'@SpaFrontendBundle/Resources/public/js/jquery.validate.min.js'
    	'@SpaFrontendBundle/Resources/public/js/jquery.keyfilter-1.7.js'
    	'@SpaFrontendBundle/Resources/public/js/cidades-estados-1.2-utf8.js'
    	

 	%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block body_class %}sejafranqueado{% endblock %}
{% block body %}

<script>
	/*
	jQuery(document).ready(function(){
		jQuery("#telefone_fixo").mask("(99)9999-9999");
	});
	jQuery(document).ready(function(){
		jQuery("#celular_1").mask("(99)9999-9999");
	});
	jQuery(document).ready(function(){
		jQuery("#celular_2").mask("(99)9999-9999");
	});
	*/
	jQuery(document).ready(function(){
		  new dgCidadesEstados({
  cidade: document.getElementById('cidade'),
  estado: document.getElementById('estado')
})

		jQuery("#telefone_fixo").keyfilter(/[0-9]/i);
		jQuery("#celular_1").keyfilter(/[0-9]/i);
		jQuery("#celular_2").keyfilter(/[0-9]/i);
		jQuery("#telefone_fixo_ddd").keyfilter(/[0-9]/i);
		jQuery("#celular_1_ddd").keyfilter(/[0-9]/i);
		jQuery("#celular_2_ddd").keyfilter(/[0-9]/i);
		
		
		jQuery('#celular_1_ddd').blur(function(){
			if(jQuery('#celular_1_ddd').val() == '11')
			{
				jQuery('#celular_1').val('9');
				document.form_franquia.celular_1.selectionStart = 2;
				document.form_franquia.celular_1.selectionEnd = 2;
			}
		});
		jQuery('#celular_2_ddd').blur(function(){
			if(jQuery('#celular_2_ddd').val() == '11')
			{
				jQuery('#celular_2').val('9');
				document.form_franquia.celular_2.selectionStart = 2;
				document.form_franquia.celular_2.selectionEnd = 2;
			}
		});
		jQuery('#estado').change(function(){
			jQuery('#cidade:first-child').attr('disabled','disabled');
		});
		jQuery('#estado:first-child').attr('disabled','disabled');

		
		
	});
</script>
<script type="text/javascript">
jQuery(document).ready(function(){
	// Seta as regras de validação 
	var options = 
	{
		rules: 
		{
			nome: 
			{
				required: true,
				minlength: 5
			},
			telefone_fixo: 
			{
				required: true		
			},
			celular_1: 
			{
				required: true
			},
			email: 
			{
				required: true,
				email: true
			},
			re_email:
			{
				required: true,
				equalTo:"#email",
				
			},
			cidade: 
			{
				required: true,
			},
			estado:
			{
				required: true,
			},
			investimento_pretendido:
			{
				required: true,
			},
			inicio_franquia:
			{
				required: true,
			}
		},
	
		
		messages: 
		{
			nome: 
			{
				required: "Favor informar seu nome",
				minlength: "Insira um nome válido"
			},			
			telefone_fixo:  
			{
				required: "Telefone necessário",
			},
			celular_1: 
			{
				required: "Celular necessário",
			},
			email: 
			{
				required: "E-mail necess&aacute;rio",
				email: "Insira um e-mail válido"
			},
			re_email: 
			{
				required: "",
				equalTo: "E-mails não coencidem."
			},
			cidade: 
			{
				required: "Insira uma Cidade",
			},
			estado:
			{
				required: "Selecione um Estado",
			},
			investimento_pretendido:
			{
				required: "Selecione o investimento pretendido",
			},
			inicio_franquia:
			{
				required: "Selecione o início pretendido para a franquia",
			}
		}
	};
	var validator = jQuery("#form_franquia").validate(options);
	validator.showErrors("Preencha");
});

</script>


		<h2>Seja um Franqueado</h2>
		<hr class="titulo" />
		<div class="c02">
			{{ pagecontent.content|raw }}
			<div class="colForm">
				<h3>FAÇA SEU CADASTRO</h3>
				{% if (obrigado) %}<p class='formSucesso'>Sua mensagem foi enviada com <em>sucesso</em>.</p>{% endif %}
				
				{{ pagecontent.form|raw }}

			</div>
			<hr class="fim" />
		</div>


<script>
			/*
			jQuery(document).ready(function(){
				jQuery("#telefone_fixo").mask("(99)9999-9999");
			});
			jQuery(document).ready(function(){
				jQuery("#celular_1").mask("(99)9999-9999");
			});
			jQuery(document).ready(function(){
				jQuery("#celular_2").mask("(99)9999-9999");
			});
			*/
			jQuery(document).ready(function(){
				  new dgCidadesEstados({
          cidade: document.getElementById('cidade'),
          estado: document.getElementById('estado')
        })
		
				jQuery("#telefone_fixo").keyfilter(/[0-9]/i);
				jQuery("#celular_1").keyfilter(/[0-9]/i);
				jQuery("#celular_2").keyfilter(/[0-9]/i);
				jQuery("#telefone_fixo_ddd").keyfilter(/[0-9]/i);
				jQuery("#celular_1_ddd").keyfilter(/[0-9]/i);
				jQuery("#celular_2_ddd").keyfilter(/[0-9]/i);
				
				
				jQuery('#celular_1_ddd').blur(function(){
					if(jQuery('#celular_1_ddd').val() == '11')
					{
						jQuery('#celular_1').val('9');
						document.form_franquia.celular_1.selectionStart = 2;
						document.form_franquia.celular_1.selectionEnd = 2;
					}
				});
				jQuery('#celular_2_ddd').blur(function(){
					if(jQuery('#celular_2_ddd').val() == '11')
					{
						jQuery('#celular_2').val('9');
						document.form_franquia.celular_2.selectionStart = 2;
						document.form_franquia.celular_2.selectionEnd = 2;
					}
				});
				jQuery('#estado').change(function(){
					jQuery('#cidade:first-child').attr('disabled','disabled');
				});
				jQuery('#estado:first-child').attr('disabled','disabled');

				
				
			});
</script>


{% endblock %}


