{% extends 'SpaFrontendBundle::layout.html.twig' %}


{% block body_class %}servicos{% endblock %}
{% block body %}
<script>
$(document).ready(function() {
    // Get the  current URL
    var pathname = window.location;
 
   // Create the twitter URL
    var tweeturl = 'http://twitter.com/share?url='+encodeURI(pathname)+'&text=Spa das Sobrancelhas';
 
    // Place the text on the page. Change body to wherever you want the button placed. 
    $('.share').prepend('<a class="shareTwitter" target="_blank" href=" '+ tweeturl+' "><span>twitter</span></a>');
});

</script>


		<h2>Servicos</h2>
		<hr class="titulo" />
		<div class="c02">
			<div class="colConteudo">
				<ul class="submenu-interno">
					{% for service in services %}
						<li id="{{ service.id }}">
							<a href="{{ path('spa_frontend_show_service', { slug: service.slug }) }}">
								{{ service.name }}
							</a>
							<span></span>
						</li>
					{% endfor %}


				</ul>
				<div class="colDescricao" id="principal">
					<p>{{ content.content }}</p>
				</div>
				

			</div>
			<hr class="fim" />
		</div>


{% endblock %}


